.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__image {
    width: 80%;
    border-radius: 50%;
    box-shadow: 1px 2px 5px 3px var(--c-darkblue);

    @media (min-width: $large) {
      width: 40%;
      min-width: 500px;
      margin-left: 10%;
    }
  }

  &__images {
    width: 80%;
    border-radius: 50%;
    box-shadow: 1px 2px 5px 3px var(--c-darkblue);

    @media (min-width: $large) {
      width: 40%;
      min-width: 500px;
      margin-left: 0;
      margin-right: 10%;
    }
  }

  @media (min-width: $large) {
    flex-direction: row;

    &:last-child {
      flex-direction: row-reverse;
    }
  }
}
