.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    background: var(--c-blue);
    color: var(--c-white);
  }

  &__image {
    width: 80%;

    @media (min-width: $large) {
      width: 40%;
      min-width: 800px;
    }
  }

  @media (min-width: $large) {
    flex-direction: row;
  }
}
