.header {
  display: flex;
  background: var(--c-orange);
  justify-content: space-between;
  align-items: center;
}

.principal  {
  display: flex;
  width: 60%;

  &__title {
    margin-left: 1%;
    align-self: center;
    color: var(--c-white);
    text-shadow: 2px 2px 2px var(--c-black);
  }
}
